{% extends "layout.html" %} {% block content %}
<main>
  <h1>Sessions</h1>
  {% for session in sessions_list %}
  <form action="/" method="post">
    {{ session }}
    <input type="hidden" name="session" value="{{session}}" />
    <button
      type="submit"
      name="action"
      value="toggle_session"
      id="state_{{session}}"
      onclick="toggle_session('{{ session }}')"
    >
      {% if session in running %} STOP {% else %} START {% endif %}
    </button>
    <button type="button" onclick="show_infos('{{ session }}')">INFOS</button>
    <button
      type="submit"
      name="action"
      value="delete_session"
      onclick="delete_session('{{ session }}')"
    >
      DELETE
    </button>
    <button
      type="submit"
      name="action"
      value="edit_session"
      onclick="edit_session('{{ session }}')"
    >
      EDIT
    </button>
    <br />
  </form>
  {% endfor %}
  <form action="/" method="post">
    <button type="submit" name="action" value="new_session">new</button>
  </form>
  <h1>Databases</h1>
  {% for database in databases_list %}
  <form action="/" method="post">
    {{ database }}
    <input type="hidden" name="database" value="{{database}}" />
    <button
      type="submit"
      name="action"
      value="delete_database"
      onclick="delete_database('{{ database }}')"
    >
      DELETE
    </button>
    <br />
  </form>
  {% endfor %}
  <form action="/" method="post" enctype=multipart/form-data>
    <input type="file" name="new_database" />
    <button type="submit" name="action" value="new_database">new</button>
  </form>
  <h1>Infos</h1>
  <pre id="infos"></pre>
</main>
<script>

  function delete_session(session) {
    confirm("Deleting a session will delete all machines storage. Are you sure ?")
  }
  function delete_database(database) {
    confirm("Are you sure ?")
  }
  function edit_session(session) {

  }

  function toggle_session(session) {
      var button = document.getElementById("state_"+session);
      if (button.innerHTML.includes("START")) {
          button.innerHTML = "STOP";
      } else {
          button.innerHTML = "START";
      }
  }

  function show_infos(session) {
      var dict = {};
  {% for session in sessions_infos %}
      dict["{{session[0]}}"] = {{session[1]|tojson|safe}}
  {% endfor %}
      var infos = document.getElementById("infos");
      infos.innerHTML = JSON.stringify(JSON.parse(dict[session]), null, 2);
  }
</script>
{% endblock %}
