<!doctype html>

<title>Hello from Flask</title>


<h1>Sessions</h1>
{% for session in sessions_list %}
<form action="/" method="post">
{{ session }}
<input type="hidden" name="action" value="toggle_session" />
<input type="hidden" name="session" value="{{session}}" />
<button type="submit" id="state_{{session}}" onclick="toggle_session('{{ session }}')">
{% if session in running %}
STOP
{% else %}
START
{% endif %}
</button>
<button type="button" onclick="show_infos('{{ session }}')">INFOS</button>
<br>
</form>
{% endfor %} 

<h1>Infos</h1>
<pre id="infos"></pre>


<script>

function toggle_session(session) {
    var button = document.getElementById("state_"+session);
    if (button.innerHTML.includes("START")) {
        button.innerHTML = "STOP";
    } else {
        button.innerHTML = "START";
    } 
}

function show_infos(session) {
    var dict = {};
{% for session in sessions_infos %}
    dict["{{session[0]}}"] = {{session[1]|tojson|safe}}
{% endfor %}    
    var infos = document.getElementById("infos");
    infos.innerHTML = JSON.stringify(JSON.parse(dict[session]), null, 2);
}
</script>